.alert {
    color :red
}

body {
    background-color:#090E41;}

input.user-search { 
    text-align: center; 
}

input.input-field { 
    text-align: center; 
}

.settings-container {
    color: #ffffff
}

.registeration-container {
    color: #ffffff
}

.category-section {
    text-align: justify;
    text-justify: inter-word;
}

.login-error {
    color: #ffffff
}

.navbar {
    color: #39336d;
    background-color: #39336d
}

.navbar-container {
    color: #39336d;
    background-color: #39336d
}

.sub-links {
    color:#FFFFFF;
}

.sub-links:hover {
    color:#007cc6;
}

.category-links {
    color:#FFFFFF;
    background-color: #39336d;
}

.category-links:hover {
    color:#FFFFFF;
    background-color:#007cc6;
    ;
}

.button {
    color: #FFFFFF;
    background-color: #39336d
}

.button a:hover{
    color: #FFFFFF;
    background-color: #39336d
}

.nav-item {
    color:#FFFFFF;
}

.read-more-btn {
    color:#FFFFFF;
    background-color: #007cc6;
}

.read-more-btn:hover {
    color:#FFFFFF;
    background-color: #39336d;
}

.save-updates-btn {
    color:#FFFFFF;
    background-color:#39336d;
}

.save-updates-btn:hover {
    color:#FFFFFF;
    background-color:#007cc6;
}


#bootstrap-overrides .nav-link {
    color:#FFFFFF;
}

#bootstrap-overrides .nav-link:hover {
    color:#007cc6;
}

#bootstrap-overrides .btn-group {
    color: #FFFFFF;
    background-color: #39336d
}

#bootstrap-overrides a:hover {
    color: #FFFFFF;
}

#login-btn {
    color:#ffffff;
    background-color:#007cc6
}

#login-btn:hover {
    color:#ffffff;
    background-color:#455E75
}

#subscribe_btn {
    background-color:#39336d;
    color: #ffffff
}
#nav-profile {
    color:#007cc6;
    background-color:#007cc6
}

#subscriptions-container {
    color: #007cc6;
    background-color: #007cc6;
}

#remove-btn {
    color:#FFFFFF;
    background-color: #007cc6;
}

#remove-btn:hover {
    color:#FFFFFF;
    background-color: #39336d;
}

#save-btn {
    color:#FFFFFF;
    background-color: #007cc6;
}

#save-btn:hover {
    color:#FFFFFF;
    background-color: #39336d;
}

.keyword-btn {
    color:#FFFFFF;
    background-color: #39336d
}
.keyword-btn:hover {
    color:#FFFFFF;
    background-color: #007cc6;
}

#bootstrap-overrides .card {
    background-color: #252F6D;
}



#bootstrap-overrides .jumbotron {
    color:#FFFFFF;
    background-color: #00001d
}

#bootstrap-overrides .album {
    color:#FFFFFF;
    background-color: #00001d
}

#noozme-nav {
    color: #00001d;
    background-color: #00001d
}

#navbarSupportedContent{
    color: #00001d;
    background-color: #00001d
}

#navbarHeader {
    color: #39336d;
    background-color: #39336d
}

#register-link {
    color:#FFFFFF;
}

#register-btn {
    color:#FFFFFF;
    background-color: #39336d;
}

#register-btn:hover {
    color:#FFFFFF;
    background-color: #007cc6;
}


