.alert {
    color :red
}

body {
    background-color:#090E41;}

input.user-search { 
    text-align: center; 
}

input.input-field { 
    text-align: center; 
}

#subscribe_btn {
    background-color:#090E41;
    color: #ffffff
}

.settings-container {
    color: #ffffff
}