<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1><a type="register" href="register">Register</a>
      <h1>Already registered? Login</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if login %}
        <p class="login"><strong>Error:</strong> {{ login }}
      {% endif %}
    </div>
  </body>
</html>