{% extends 'base.html' %}
{% block content %}

<title>NoozMe - Profile</title>

<script src="/static/profile.js"></script>
<script src="/static/user_search.js"></script>

</head>

<body>

  <!-- Typeahead Search Engine to find other users -->
  <form>
    <div class="typeahead__container">
        <div class="typeahead__field">
            <div class="typeahead__query">
                <input id="search-bar" type="text" placeholder="Type a username.." autocomplete="off">
            </div>
            <div class="typeahead__button">
                <input type="submit" name="search">
                    <i class="typeahead__search-icon"></i>
                </button>
            </div>
        </div>
    </div>
  </form>

    {{user.fname}}'s NoozMe Profile!
    <br />
    <br />

    <!-- Subscribe/Unsubscribe Button -->
    {% if is_not_logged_in_user %}
    <form id="subscribe">
      <input type="hidden" name="profile_user_id" value="{{user.user_id}}">
      {% if is_subscribed %}
      <button id="subscribe_btn">UNSUBSCRIBE</button>
      {% else %}
      <button id="subscribe_btn">SUBSCRIBE</button>
      {% endif %}
    </form>
    {% endif %}
    <br />

    <!-- Display user's saved news -->
    <div class="row">
        <div id="newsResults"></div>
    </div>

<script> const saved_articles = {{saved_articles|safe}}</script>
</body>

{% endblock %}