{% extends 'base.html' %}
{% block content %}

<html>
<head>

    <script src="/static/dashboard.js"></script>  

</head>

<body>

    <form action="/settings" method='post'>
        <br/>
        <br/>
        <div class="settings-container">
            <h2>Settings</h2>
            <p><b>Update your settings, then press Save Updates.</b></p>
            <hr>

                <label for="fname">First Name</label>
                <input type="text" value={{logged_in_user.fname}}  name="fname" id="fname" disabled>
                <br/>
                <label for="lname">Last Name</label>
                <input type="text" value={{logged_in_user.lname}}  name="lname" id="lname" disabled>
                <br/>
                <label for="username">Username</label>
                <input type="text" value={{logged_in_user.username}}  name="username" id="username" disabled>
                <br/>
                <label for="email">Email</label>
                <input type="text" value={{logged_in_user.email}} name="email" id="email" required>
                <br/>
                <label for="category_id">Category of Preference</label>
                <select name="category_id" id="category_selector">
                    {% for category in categories %}
                    <option value="{{category.id}}"{% if category.id == logged_in_user.preferred_category_id %} selected {% endif %}> {{category.category_string}} </option>
                    {% endfor %}
                </select> 
                <br/>
                <label for="country_id">Country of Preference</label>
                <select name="country_id" id="country_selector">
                    {% for country in countries %}
                    <option value="{{country.id}}" {% if country.id == logged_in_user.preferred_country_id %} selected {% endif %}> {{country.country_string}} </option>
                    {% endfor %}
                </select> 
                <br/>
                <br/>
            <button type="submit" class="btn save-updates-btn">Save Updates</button>
        </div>
    </form>
</body>
</html>

{% endblock %}